            <div ng-controller="register as vm">
            
            Username:  <input-String type="text" ng-model="vm.username" >
              </input-String>
                <br>
                <br>
              Password: <input-String type="password" ng-model="vm.password" >
              </input-String>
                <br>
                <br>
                Confirm Password: <input-String type="password" ng-model="vm.confirmpassword">
                </input-String>
                <br>
                <br>
                <button ng-click="vm.Register()" ng-disabled="vm.checkValidationRegister()" >Register</button>
                <br>
                <br>
                <a href="/TestProject/main.html#/Login">Already Regitered ?</a>
            </div>  

                                                       
        
